# --- Binaries and Executables ---
*.exe
*.dll
*.o
*.obj

# -- tempoal ---
temp_build.cpp
request_temp.json

# --- config and Secrets  ---
config.json

# ---  IDE ---
.vscode/
.idea/

*.tsx
SUGGESTIONS.md
*.html