# --- Binaries and Executables ---
*.exe
*.dll
*.o
*log
.yori_build.cache
*.obj
*.txt
todo.md
# -- tempoal ---
temp_build.cpp
request_temp.json
critics_and_improvement/
# --- config and Secrets  ---
config.json

# ---  IDE ---
.vscode/
.idea/
__pycache__/

*.tsx
SUGGESTIONS.md
*.html
version.txt